<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941813625120-h1kbnlt0p900c5scm6ne7mu3hujjr6m0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941813625120-h1kbnlt0p900c5scm6ne7mu3hujjr6m0</string>
	<key>API_KEY</key>
	<string>AIzaSyAF8RBlGz-8JfIfl3yvKU-EuwlZw5cPK10</string>
	<key>GCM_SENDER_ID</key>
	<string>941813625120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wv.psuh</string>
	<key>PROJECT_ID</key>
	<string>watersupplier-ed051</string>
	<key>STORAGE_BUCKET</key>
	<string>watersupplier-ed051.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941813625120:ios:e961bcf87a7763cb882745</string>
	<key>DATABASE_URL</key>
	<string>https://watersupplier-ed051.firebaseio.com</string>
</dict>
</plist>